venv/
venv

__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite
*.sqlite3
*.db-journal

# Flask session files
*.flask_session

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp

# IDE and editor files
.idea/
.vscode/
*.vscode
*.pydevproject
*.project
*.pydevproject


.replit
*.nix
*.lock


# Credentials and environment variables
firebase_cred.json
*cred.json
cred.json
.env

# Documentation build directories
docs/_build/
docs/_static/
docs/_templates/

# Exclude README files from being ignored
!README.md
!README.rst
!docs/README.md
!*/README.md
